# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Emacs editor files
*~

# Ignore Emacs backup files
\#*\#
*\#

# Java build artifacts
target/
build/

